<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	</head>
	<body style="background-color:#BAA780; background: url(https://cdn.clipart.email/c973bec15e65044c9e93148eb6ab331b_picture-of-an-open-book-on-a-white-background-royalty-free-_1300-1028.jpeg);">
		<div>
			<a href="/"></a>
			<a href="/users/add"></a>
			<a href="/users"></a>
		</div>
		<div class="w3-container">
  <h2></h2>

  <a href="/" class="w3-button w3-black border-radius:15px">Home</a>
	  <a href="/users/add" class="w3-button w3-black">Add New User</a>
		  <a href="/users" class="w3-button w3-black">All Users List</a>

</div><br>
<br><br>
<br>
<br><br>
	<center><b>	<h1><b><%= title %></b></h1></b></center>
